<mat-toolbar color="primary" class="toolbar-flexer mat-elevation-z8">
  <div>
    <span style="padding: 16px;">ERis</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person_outline</mat-icon> About
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>description</mat-icon> Curriculum
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>code</mat-icon> Demo
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>contact_phone</mat-icon> Contacts
    </button>
  </div>
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <i class="fab fa-linkedin fa-2x"></i>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <i class="fab fa-facebook-square fa-2x"></i>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <i class="fab fa-github-square fa-2x"></i>
    </button>
  </div>
</mat-toolbar>
