<h2>In shortly</h2>
<div class="container">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/eris-37d42.appspot.com/o/85140366_951903125250907_4274974669913718784_n.jpeg?alt=media&token=b711f279-cfc8-4666-a3e0-ecd4b51fb055">
    </mat-grid-tile>
    <mat-grid-tile>
      <app-pie-chart></app-pie-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="container-mobile">
  <mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/eris-37d42.appspot.com/o/85140366_951903125250907_4274974669913718784_n.jpeg?alt=media&token=b711f279-cfc8-4666-a3e0-ecd4b51fb055">
    </mat-grid-tile>
    <mat-grid-tile>
      <app-pie-chart></app-pie-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>
